@page "/CajaControl/Cajas"
@using OzyParkAdmin.Domain.Cajas
@using OzyParkAdmin.Domain.CentrosCosto
@using OzyParkAdmin.Infrastructure.Seguridad.Permisos
@inject ISnackbar Snackbar
@inject IMediator Mediator
@inject DialogOptions DialogOptions
@inject PermisoCajaService PermisoService

<PageTitle>Cajas</PageTitle>
<MudText Typo="Typo.h4">Cajas</MudText>
<MudDataGrid @ref="dataGrid" T="AperturaCajaViewModel" ReadOnly="true" Striped="true" Hover="true" ShowMenuIcon="true"
             ServerData="LoadCajasAsync" SortMode="SortMode.Multiple" 
             Groupable="true" Hideable="true" GroupExpanded="true" ColumnsPanelReordering="true"
             Filterable="true" FilterMode="DataGridFilterMode.ColumnFilterMenu">
    <ToolBarContent>
        <MudSpacer />
        <MudSelect T="CentroCostoInfo" Value="centroCosto" ValueChanged="CentroCostoChanged" Margin="Margin.Dense" Dense="true"
                   Variant="Variant.Outlined" ToStringFunc="x => x?.Descripcion" Class="me-3">
            <ForIn Items="centrosCosto" Context="centro">
                <MudSelectItem T="CentroCostoInfo" Value="centro" />
            </ForIn>
        </MudSelect>

        <MudDatePicker Date="searchDate" DateChanged="SearchDateChanged" Margin="Margin.Dense"
                       Variant="Variant.Outlined" ImmediateText="true" Class="me-3" />
        <SearchControl @bind-SearchText="searchText" />
    </ToolBarContent>
    <Columns>
        <HierarchyColumn Hideable="false" ButtonDisabledFunc="x => x.Id is null" />
        <PropertyColumn Property="x => x.CajaId" Title="Id" Hideable="false" Groupable="false" />
        <PropertyColumn Property="x => x.Aka" Title="Aka" Groupable="false">
            <CellTemplate>
                <MudHighlighter Text="@context.Item.Aka" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Descripcion" Title="Nombre" Groupable="false">
            <CellTemplate>
                <MudHighlighter Text="@context.Item.Descripcion" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Equipo" Title="Equipo" Groupable="false">
            <CellTemplate>
                <MudHighlighter Text="@context.Item.Equipo" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.CentroCosto" Title="Centro de costo">
            <CellTemplate>
                <MudHighlighter Text="@context.Item.CentroCosto" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
            <GroupTemplate>
                <StringGrouping Title="Centro de costo" GroupDefinition="context" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Franquicia" Title="Franquicia">
            <CellTemplate>
                <MudHighlighter Text="@context.Item.Franquicia" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
            <GroupTemplate>
                <StringGrouping Title="Franquicia" GroupDefinition="context" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.PuntoVenta" Title="Punto de venta">
            <CellTemplate>
                <MudHighlighter Text="@context.Item.PuntoVenta" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
            <GroupTemplate>
                <StringGrouping Title="Punto de venta" GroupDefinition="context" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.DiaApertura" Title="Día apertura">
            <FilterTemplate>
                <DateOnlyFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <Grouping Title="Día apertura" GroupDefinition="context" T="AperturaCajaViewModel" TValue="DateOnly" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.FechaApertura" Title="Hora apertura" Filterable="false">
            <GroupTemplate>
                <Grouping Title="Hora apertura" GroupDefinition="context" T="AperturaCajaViewModel" TValue="TimeSpan" />
            </GroupTemplate>
            <CellTemplate>
                @context.Item.HoraApertura
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Estado" Title="Estado">
            <FilterTemplate>
                <EstadoDiaFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <Grouping Title="Estado" GroupDefinition="context" T="AperturaCajaViewModel" TValue="EstadoDia" />
            </GroupTemplate>
        </PropertyColumn>
        <TemplateColumn Hideable="false" Groupable="false" Filterable="false" Sortable="false">
            <CellTemplate>
                <div class="d-flex justify-end">
                    <IfThen Condition="context.Item.Id is not null && context.Item.UltimoTurnoId is not null">
                        <Then>
                            <IfThen Condition="context.Item.UltimoTurnoId is not null">
                                <Then>
                                    <MudTooltip Text="Abrir último turno">
                                        <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.RemoveRedEye" Color="context.Item.UltimoTurnoEstadoColor" OnClick="async () => await ShowLastShiftAsync(context)" />
                                    </MudTooltip>
                                </Then>
                            </IfThen>
                    
                            <MudTooltip Text="Detalle del día">
                                <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.Devices" Color="context.Item.EstadoColor" OnClick="async () => await ShowCloseDayAsync(context)" />
                            </MudTooltip>
                        </Then>
                    </IfThen>
                </div>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <ChildRowContent>
        <AperturaDiaDetail AperturaCaja="context.Item" LoadDetails="OnLoadDetailsAsync" ShowShift="ShowShiftAsync" />
    </ChildRowContent>
    <PagerContent>
        <MudDataGridPager T="AperturaCajaViewModel" />
    </PagerContent>
</MudDataGrid>

<CascadingValue Value="true" Name="IsNested">
    <TurnoDialog DialogOptions="DialogOptions" @bind-IsOpen="openCloseShift" Turno="currentTurno" CloseShift="CloseShiftAsync" ReopenShift="ReopenShiftAsync" />
    <CierreCajaDialog DialogOptions="DialogOptions" @bind-IsOpen="openCloseDay" Apertura="currentCaja" CloseDay="CloseDayAsync" ReopenDay="ReopenDayAsync" />
</CascadingValue>
