@page "/Mantenedores/CuposFecha"
@using OzyParkAdmin.Components.Admin.Mantenedores.Cupos.Controls
@inject IMediator Mediator
@inject ISnackbar Snackbar
@inject DialogOptions DialogOptions
@inject IDialogService DialogService

<PageTitle>Cupos por fecha</PageTitle>
<MudText Typo="Typo.h4">Cupos por fecha</MudText>

<MudDataGrid @ref="dataGrid" T="CupoFechaViewModel" ReadOnly="true" Striped="true" Hover="true" ShowMenuIcon="true"
             ServerData="SearchCuposAsync" SortMode="SortMode.Multiple"
             Groupable="true" Hideable="true" GroupExpanded="true" ColumnsPanelReordering="true"
             Filterable="true" FilterMode="DataGridFilterMode.ColumnFilterMenu">
    <ToolBarContent>
        <MudSpacer />
        <SearchControl @bind-SearchText="searchText" />
        <MudButton Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Class="ml-3" OnClick="AddCupoFechaAsync">Nuevos cupos por fecha</MudButton>
        <MudButton Color="Color.Primary" StartIcon="@Icons.Material.Filled.EditCalendar" Variant="Variant.Filled" Class="ml-3" OnClick="EditCuposFechaAsync">Cambiar cupos por fecha</MudButton>
        <MudButton Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Variant="Variant.Filled" Class="ml-3" OnClick="DeleteCuposFechaAsync">Eliminar cupos por fecha</MudButton>
        <MudButton Color="Color.Primary" StartIcon="@Icons.Material.Filled.CalendarMonth" Variant="Variant.Filled" Class="ml-3" OnClick="ShowCalendarioAsync">Calendario</MudButton>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Fecha" Title="Fecha" Hideable="false">
            <FilterTemplate>
                <DateOnlyFilter FilterContext="context" />
            </FilterTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.EscenarioCupo.Nombre" Title="Escenario de cupo">
            <CellTemplate>
                <MudHighlighter Text="@context.Item.EscenarioCupo.Nombre" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
            <GroupTemplate>
                <StringGrouping Title="Escenario de cupo" GroupDefinition="context" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.CanalVenta.Nombre" Title="Canal de venta">
            <CellTemplate>
                <MudHighlighter Text="@context.Item.CanalVenta.Nombre" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
            <GroupTemplate>
                <StringGrouping Title="Canal de venta" GroupDefinition="context" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.DiaSemana.Aka" Title="Día de semana">
            <CellTemplate>
                <MudHighlighter Text="@context.Item.DiaSemana.Aka" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
            <GroupTemplate>
                <StringGrouping Title="Dia de semana" GroupDefinition="context" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.HoraInicio" Title="Hora inicio">
            <FilterTemplate>
                <TimeSpanFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <Grouping Title="Hora inicio" GroupDefinition="context" T="CupoFechaViewModel" TValue="TimeSpan" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.HoraFin" Title="Hora fin">
            <FilterTemplate>
                <TimeSpanFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <Grouping Title="Hora fin" GroupDefinition="context" T="CupoFechaViewModel" TValue="TimeSpan" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Total" Title="Total">
            <GroupTemplate>
                <Grouping Title="Total" GroupDefinition="context" T="CupoFechaViewModel" TValue="int" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.SobreCupo" Title="Sobrecupo">
            <GroupTemplate>
                <Grouping Title="Sobrecupo" GroupDefinition="context" T="CupoFechaViewModel" TValue="int" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TopeEnCupo" Title="Tope en cupo">
            <GroupTemplate>
                <Grouping Title="Tope en cupo" GroupDefinition="context" T="CupoFechaViewModel" TValue="int" />
            </GroupTemplate>
        </PropertyColumn>
        <TemplateColumn Hideable="false" Groupable="false" Filterable="false" Sortable="false">
            <CellTemplate>
                <div class="d-flex justify-end">
                    <MudTooltip Text="Editar">
                        <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="async () => await ShowEditingAsync(context)" />
                    </MudTooltip>

                    <MudTooltip Text="Eliminar">
                        <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.DeleteForever" Color="Color.Error" OnClick="async () => await DeleteAsync(context)" />
                    </MudTooltip>
                </div>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="CupoFechaViewModel" />
    </PagerContent>
</MudDataGrid>

<CascadingValue Value="true" Name="IsNested">
    <CreateCuposFechaDialog @bind-IsOpen="openCreating"
                            EscenariosCupo="escenariosCupo"
                            DiasSemana="diasSemana"
                            CanalesVenta="canalesVenta"
                            CommitChanges="SaveCuposFechaAsync"
                            DialogOptions="DialogOptions" />

    <EditCuposFechaDialog @bind-IsOpen="openBatchEditing"
                          EscenariosCupo="escenariosCupo"
                          DiasSemana="diasSemana"
                          CanalesVenta="canalesVenta"
                          CommitChanges="SaveEditCuposFechaAsync"
                          DialogOptions="DialogOptions" />

    <DeleteCuposFechaDialog @bind-IsOpen="openDeleting"
                            EscenariosCupo="escenariosCupo"
                            DiasSemana="diasSemana"
                            CanalesVenta="canalesVenta"
                            CommitChanges="DeleteCuposFechaAsync"
                            DialogOptions="DialogOptions" />

    <CupoFechaEditorDialog @bind-IsOpen="openEditing"
                           EscenariosCupo="escenariosCupo"
                           DiasSemana="diasSemana"
                           CanalesVenta="canalesVenta"
                           CupoFecha="currentCupoFecha"
                           CommitChanges="SaveCupoFechaAsync"
                           DialogOptions="DialogOptions" />

    <CalendarDialog @ref="calendario" @bind-IsOpen="openCalendario" DialogOptions="DialogOptions" />
</CascadingValue>
