@page "/Mantenedores/Productos"
@inject IMediator Mediator
@inject ISnackbar Snackbar
@inject DialogOptions DialogOptions

<PageTitle>Productos</PageTitle>
<MudText Typo="Typo.h4">Productos</MudText>

<MudDataGrid @ref="dataGrid" T="ProductoViewModel" ReadOnly="true" Striped="true" Hover="true" ShowMenuIcon="true"
             ServerData="SearchProductosAsync" SortMode="SortMode.Multiple" 
             Groupable="true" Hideable="true" GroupExpanded="true" ColumnsPanelReordering="true"
             Filterable="true" FilterMode="DataGridFilterMode.ColumnFilterMenu">
    <ToolBarContent>
        <MudSpacer />
        <SearchControl @bind-SearchText="searchText" />
        <MudButton Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Class="ml-3" OnClick="AddProductoAsync">Nuevo producto</MudButton>
    </ToolBarContent>
    <Columns>
        <HierarchyColumn T="ProductoViewModel" Hideable="false" />
        <PropertyColumn Property="x => x.Sku" Title="Sku" Groupable="false" Hideable="false">
            <CellTemplate>
                <MudHighlighter Text="@context.Item.Sku" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Aka" Title="Aka" Groupable="false" Hideable="false">
            <CellTemplate>
                <MudHighlighter Text="@context.Item.Aka" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Nombre" Title="Nombre" Groupable="false">
            <CellTemplate>
                <MudHighlighter Text="@context.Item.Nombre" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TipoProducto.Nombre" Title="Tipo producto">
            <GroupTemplate>
                <StringGrouping Title="Tipo producto" GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <MudHighlighter Text="@context.Item.TipoProducto.Nombre" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TipoProducto.EsParaVenta" Editable="false" Title="Es para venta" Hidden="true">
            <FilterTemplate>
                <StateFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <BooleanGrouping Title="Es para venta" GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <StateControl State="@context.Item.TipoProducto.EsParaVenta" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TipoProducto.ControlaStock" Editable="false" Title="Controla stock" Hidden="true">
            <FilterTemplate>
                <StateFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <BooleanGrouping Title="Controla stock" GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <StateControl State="@context.Item.TipoProducto.ControlaStock" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TipoProducto.ControlaInventario" Editable="false" Title="Controla inventario" Hidden="true">
            <FilterTemplate>
                <StateFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <BooleanGrouping Title="Controla inventario" GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <StateControl State="@context.Item.TipoProducto.ControlaInventario" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Categoria.Nombre" Title="Categoria" Hidden="true" Grouping="true">
            <GroupTemplate>
                <StringGrouping Title="Categoría" GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <MudHighlighter Text="@context.Item.Categoria.Nombre" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Familia.Aka" Hidden="true" Title="Familia contable">
            <GroupTemplate>
                <StringGrouping Title="Familia contable" GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <MudHighlighter Text="@context.Item.Familia.Aka" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.FechaAlta" Title="Fecha de alta">
            <FilterTemplate>
                <DateOnlyFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <Grouping Title="Fecha de alta" GroupDefinition="context" TValue="DateOnly" T="ProductoViewModel" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Orden" Editable="false" Title="Orden" Hidden="true">
            <GroupTemplate>
                <Grouping Title="Orden" GroupDefinition="context" T="ProductoViewModel" TValue="int" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.EsComplemento" Editable="false" Title="Es complemento" Hidden="true">
            <FilterTemplate>
                <StateFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <BooleanGrouping GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <StateControl State="@context.Item.EsComplemento" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.EsActivo" Editable="false" Title="Estado">
            <FilterTemplate>
                <IsActiveFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <IsActiveGrouping GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <StateControl State="@context.Item.EsActivo" CanChangeStatus="true" TrueLabel="Habilitado" FalseLabel="Deshabilitado"
                              StateChanged="async (esActivo) => await SaveEsActivoAsync(context.Item, esActivo)" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.EnInventario" Editable="false" Title="Inventario">
            <FilterTemplate>
                <StateFilter FilterContext="context" TrueLabel="Bloqueado" FalseLabel="Desbloqueado" />
            </FilterTemplate>
            <GroupTemplate>
                <BooleanGrouping GroupDefinition="context" TrueLabel="Bloqueado" FalseLabel="Desbloqueado" />
            </GroupTemplate>
            <CellTemplate>
                <StateControl State="@context.Item.EnInventario" CanChangeStatus="context.Item.TipoProducto.ControlaInventario"
                              TrueIcon="@Icons.Material.Filled.Lock" TrueLabel="Bloqueado" TrueColor="Color.Error"
                              FalseIcon="@Icons.Material.Outlined.LockOpen" FalseLabel="Desbloqueado" FalseColor="Color.Success"
                              StateChanged="async (enInventario) => await SaveEnInventarioAsync(context.Item, enInventario)" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.FechaSistema" Title="Fecha creación" Hidden="true">
            <GroupTemplate>
                <Grouping GroupDefinition="context" Title="Fecha creación" T="ProductoViewModel" TValue="DateTime" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.UsuarioCreacion.FriendlyName" Title="Usuario creación" Hidden="true">
            <GroupTemplate>
                <StringGrouping GroupDefinition="context" Title="Usuario creación" />
            </GroupTemplate>
            <CellTemplate>
                <MudHighlighter Text="@context.Item.UsuarioCreacion.FriendlyName" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.UltimaModificacion" Title="Ultima modificación" Hidden="true">
            <GroupTemplate>
                <Grouping GroupDefinition="context" Title="Fecha creación" T="ProductoViewModel" TValue="DateTime" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.UsuarioModificacion.FriendlyName" Title="Usuario modificación" Hidden="true">
            <GroupTemplate>
                <StringGrouping GroupDefinition="context" Title="Usuario modificación" />
            </GroupTemplate>
            <CellTemplate>
                <MudHighlighter Text="@context.Item.UsuarioCreacion.FriendlyName" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <TemplateColumn Hideable="false" Groupable="false" Filterable="false" Sortable="false">
            <CellTemplate>
                <div class="d-flex justify-end">
                    <MudTooltip Text="Editar">
                        <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="async () => await ShowEditingAsync(context)" />
                    </MudTooltip>
                    <MudTooltip Text="Asignar cajas">
                        <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.Devices" OnClick="async () => await ShowCajasAsync(context)" />
                    </MudTooltip>
                    <IfThen Condition="!context.Item.TipoProducto.ControlaInventario && context.Item.TipoProducto.ControlaStock">
                        <Then>
                            <MudTooltip Text="Asignar partes">
                                <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.SettingsInputComponent" OnClick="async () => await ShowPartesAsync(context)" />
                            </MudTooltip>
                        </Then>
                    </IfThen>
                </div>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <ChildRowContent>
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@context.Item.Nombre</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <div class="mud-card-media">
                <MudImage Src="@context.Item.Imagen.Data" Height="200" Width="200" Alt="@context.Item.Imagen.Aka" />
            </div>
            <MudCardContent>
                <MudSimpleTable Style="max-width: 50%;">
                    <tr>
                        <th style="text-align: start;">Aka</th>
                        <td>@context.Item.Aka</td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Centro de costo</th>
                        <td>@context.Item.CentroCosto.Descripcion</td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Tipo producto</th>
                        <td>@context.Item.TipoProducto.Nombre</td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Es para venta</th>
                        <td>
                            <StateControl State="context.Item.TipoProducto.EsParaVenta" />
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Controla stock</th>
                        <td>
                            <StateControl State="context.Item.TipoProducto.ControlaStock" />
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Controla inventario</th>
                        <td>
                            <StateControl State="context.Item.TipoProducto.ControlaInventario" />
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Es complemento</th>
                        <td>
                            <StateControl State="context.Item.EsComplemento" />
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">En inventario</th>
                        <td>
                            <StateControl State="context.Item.EnInventario" />
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Usuario creación</th>
                        <td>@context.Item.UsuarioCreacion.FriendlyName</td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Fecha creación</th>
                        <td>@context.Item.FechaSistema</td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Usuario modificación</th>
                        <td>@context.Item.UsuarioModificacion.FriendlyName</td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Última modificación</th>
                        <td>@context.Item.UltimaModificacion</td>
                    </tr>
                </MudSimpleTable>
            </MudCardContent>
        </MudCard>
    </ChildRowContent>
    <PagerContent>
        <MudDataGridPager T="ProductoViewModel"  />
    </PagerContent>
</MudDataGrid>

<CascadingValue Value="true" Name="IsNested">
    <ProductoEditDialog @bind-IsOpen="openEditing" Producto="currentProducto" CentrosCosto="centrosCosto" Franquicias="franquicias"
                        TiposProducto="tiposProducto" Familias="familias"
                        LoadCategorias="LoadCategoriasAsync" LoadComplementos="LoadComplementosAsync"
                        CommitChanges="SaveProductoAsync" DialogOptions="DialogOptions" />

    <CajasDialog @bind-IsOpen="openCajas" Cajas="cajas" Producto="currentProducto" CommitChanges="SaveCajasAsync" 
                 LoadProductoDetalle="LoadProductoDetailAsync"  DialogOptions="DialogOptions" />

    <PartesDialog @bind-IsOpen="openPartes" Producto="currentProducto" LoadProductosParte="LoadProductosParteAsync" CommitChanges="SavePartesAsync" 
                  LoadProductoDetalle="LoadProductoDetailAsync" DialogOptions="DialogOptions" />
</CascadingValue>
