@page "/Mantenedores/Productos"
@using System.Security.Claims
@using OzyParkAdmin.Application
@using OzyParkAdmin.Application.Cajas.List
@using OzyParkAdmin.Application.CategoriasProducto.List
@using OzyParkAdmin.Application.CentrosCosto.List
@using OzyParkAdmin.Application.Contabilidad.List
@using OzyParkAdmin.Application.Franquicias.List
@using OzyParkAdmin.Application.Productos
@using OzyParkAdmin.Application.Productos.Activar
@using OzyParkAdmin.Application.Productos.Assign
@using OzyParkAdmin.Application.Productos.Desactivar
@using OzyParkAdmin.Application.Productos.Find
@using OzyParkAdmin.Application.Productos.List
@using OzyParkAdmin.Application.Productos.Lock
@using OzyParkAdmin.Application.Productos.Search
@using OzyParkAdmin.Application.Productos.Unlock
@using OzyParkAdmin.Components.Admin.Shared
@using OzyParkAdmin.Domain.Cajas
@using OzyParkAdmin.Domain.CategoriasProducto
@using OzyParkAdmin.Domain.CentrosCosto
@using OzyParkAdmin.Domain.Contabilidad
@using OzyParkAdmin.Domain.Franquicias
@using OzyParkAdmin.Domain.Productos
@using OzyParkAdmin.Domain.Shared
@inject IMediator Mediator
@inject ISnackbar Snackbar
@inject DialogOptions DialogOptions

<PageTitle>Productos</PageTitle>
<MudText Typo="Typo.h4">Productos</MudText>

<MudDataGrid @ref="dataGrid" T="ProductoViewModel" ReadOnly="true" Striped="true" Hover="true" ShowMenuIcon="true"
             ServerData="LoadProductosAsync" SortMode="SortMode.Multiple" 
             Groupable="true" Hideable="true" GroupExpanded="true" ColumnsPanelReordering="true"
             Filterable="true" FilterMode="DataGridFilterMode.ColumnFilterMenu">
    <ToolBarContent>
        <MudSpacer />
        <SearchControl @bind-SearchText="searchText" />
        <MudButton Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Class="ml-3" OnClick="AddProductoAsync">Nuevo producto</MudButton>
    </ToolBarContent>
    <Columns>
        <HierarchyColumn T="ProductoViewModel" Hideable="false" />
        <PropertyColumn Property="x => x.Sku" Title="Sku" Groupable="false" Hideable="false">
            <CellTemplate>
                <MudHighlighter Text="@context.Item.Sku" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Aka" Title="Aka" Groupable="false" Hideable="false">
            <CellTemplate>
                <MudHighlighter Text="@context.Item.Aka" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Nombre" Title="Nombre" Groupable="false">
            <CellTemplate>
                <MudHighlighter Text="@context.Item.Nombre" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TipoProducto.Nombre" Title="Tipo producto">
            <GroupTemplate>
                <StringGrouping Title="Tipo producto" GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <MudHighlighter Text="@context.Item.TipoProducto.Nombre" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TipoProducto.EsParaVenta" Editable="false" Title="Es para venta" Hidden="true">
            <FilterTemplate>
                <StateFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <BooleanGrouping Title="Es para venta" GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <StateControl State="@context.Item.TipoProducto.EsParaVenta" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TipoProducto.ControlaStock" Editable="false" Title="Controla stock" Hidden="true">
            <FilterTemplate>
                <StateFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <BooleanGrouping Title="Controla stock" GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <StateControl State="@context.Item.TipoProducto.ControlaStock" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TipoProducto.ControlaInventario" Editable="false" Title="Controla inventario" Hidden="true">
            <FilterTemplate>
                <StateFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <BooleanGrouping Title="Controla inventario" GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <StateControl State="@context.Item.TipoProducto.ControlaInventario" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Categoria.Nombre" Title="Categoria" Hidden="true" Grouping="true">
            <GroupTemplate>
                <StringGrouping Title="Categoría" GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <MudHighlighter Text="@context.Item.Categoria.Nombre" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Familia.Aka" Hidden="true" Title="Familia contable">
            <GroupTemplate>
                <StringGrouping Title="Familia contable" GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <MudHighlighter Text="@context.Item.Familia.Aka" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.FechaAlta" Title="Fecha de alta">
            <FilterTemplate>
                <DateOnlyFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <Grouping Title="Fecha de alta" GroupDefinition="context" TValue="DateOnly" T="ProductoViewModel" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Orden" Editable="false" Title="Orden" Hidden="true">
            <GroupTemplate>
                <Grouping Title="Orden" GroupDefinition="context" T="ProductoViewModel" TValue="int" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.EsComplemento" Editable="false" Title="Es complemento" Hidden="true">
            <FilterTemplate>
                <StateFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <BooleanGrouping GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <StateControl State="@context.Item.EsComplemento" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.EsActivo" Editable="false" Title="Estado">
            <FilterTemplate>
                <IsActiveFilter FilterContext="context" />
            </FilterTemplate>
            <GroupTemplate>
                <IsActiveGrouping GroupDefinition="context" />
            </GroupTemplate>
            <CellTemplate>
                <StateControl State="@context.Item.EsActivo" CanChangeStatus="true" TrueLabel="Habilitado" FalseLabel="Deshabilitado"
                              StateChanged="async (esActivo) => await SaveEsActivoAsync(context.Item, esActivo)" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.EnInventario" Editable="false" Title="Inventario">
            <FilterTemplate>
                <StateFilter FilterContext="context" TrueLabel="Bloqueado" FalseLabel="Desbloqueado" />
            </FilterTemplate>
            <GroupTemplate>
                <BooleanGrouping GroupDefinition="context" TrueLabel="Bloqueado" FalseLabel="Desbloqueado" />
            </GroupTemplate>
            <CellTemplate>
                <StateControl State="@context.Item.EnInventario" CanChangeStatus="context.Item.TipoProducto.ControlaInventario"
                              TrueIcon="@Icons.Material.Filled.Lock" TrueLabel="Bloqueado" TrueColor="Color.Error"
                              FalseIcon="@Icons.Material.Outlined.LockOpen" FalseLabel="Desbloqueado" FalseColor="Color.Success"
                              StateChanged="async (enInventario) => await SaveEnInventarioAsync(context.Item, enInventario)" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.FechaSistema" Title="Fecha creación" Hidden="true">
            <GroupTemplate>
                <Grouping GroupDefinition="context" Title="Fecha creación" T="ProductoViewModel" TValue="DateTime" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.UsuarioCreacion.FriendlyName" Title="Usuario creación" Hidden="true">
            <GroupTemplate>
                <StringGrouping GroupDefinition="context" Title="Usuario creación" />
            </GroupTemplate>
            <CellTemplate>
                <MudHighlighter Text="@context.Item.UsuarioCreacion.FriendlyName" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.UltimaModificacion" Title="Ultima modificación" Hidden="true">
            <GroupTemplate>
                <Grouping GroupDefinition="context" Title="Fecha creación" T="ProductoViewModel" TValue="DateTime" />
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.UsuarioModificacion.FriendlyName" Title="Usuario modificación" Hidden="true">
            <GroupTemplate>
                <StringGrouping GroupDefinition="context" Title="Usuario modificación" />
            </GroupTemplate>
            <CellTemplate>
                <MudHighlighter Text="@context.Item.UsuarioCreacion.FriendlyName" CaseSensitive="false" HighlightedText="@searchText" />
            </CellTemplate>
        </PropertyColumn>
        <TemplateColumn Hideable="false" Groupable="false" Filterable="false" Sortable="false">
            <CellTemplate>
                <div class="d-flex justify-end">
                    <MudTooltip Text="Editar">
                        <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="async () => await ShowEditingAsync(context)" />
                    </MudTooltip>
                    <MudTooltip Text="Asignar cajas">
                        <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.Devices" OnClick="async () => await ShowCajasAsync(context)" />
                    </MudTooltip>
                    <IfThen Condition="!context.Item.TipoProducto.ControlaInventario && context.Item.TipoProducto.ControlaStock">
                        <Then>
                            <MudTooltip Text="Asignar partes">
                                <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.SettingsInputComponent" OnClick="async () => await ShowPartesAsync(context)" />
                            </MudTooltip>
                        </Then>
                    </IfThen>
                </div>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <ChildRowContent>
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@context.Item.Nombre</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <div class="mud-card-media">
                <MudImage Src="@context.Item.Imagen.Data" Height="200" Width="200" Alt="@context.Item.Imagen.Aka" />
            </div>
            <MudCardContent>
                <MudSimpleTable Style="max-width: 50%;">
                    <tr>
                        <th style="text-align: start;">Aka</th>
                        <td>@context.Item.Aka</td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Centro de costo</th>
                        <td>@context.Item.CentroCosto.Descripcion</td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Tipo producto</th>
                        <td>@context.Item.TipoProducto.Nombre</td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Es para venta</th>
                        <td>
                            <StateControl State="context.Item.TipoProducto.EsParaVenta" />
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Controla stock</th>
                        <td>
                            <StateControl State="context.Item.TipoProducto.ControlaStock" />
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Controla inventario</th>
                        <td>
                            <StateControl State="context.Item.TipoProducto.ControlaInventario" />
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Es complemento</th>
                        <td>
                            <StateControl State="context.Item.EsComplemento" />
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">En inventario</th>
                        <td>
                            <StateControl State="context.Item.EnInventario" />
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Usuario creación</th>
                        <td>@context.Item.UsuarioCreacion.FriendlyName</td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Fecha creación</th>
                        <td>@context.Item.FechaSistema</td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Usuario modificación</th>
                        <td>@context.Item.UsuarioModificacion.FriendlyName</td>
                    </tr>
                    <tr>
                        <th style="text-align: start;">Última modificación</th>
                        <td>@context.Item.UltimaModificacion</td>
                    </tr>
                </MudSimpleTable>
            </MudCardContent>
        </MudCard>
    </ChildRowContent>
    <PagerContent>
        <MudDataGridPager T="ProductoViewModel" />
    </PagerContent>
</MudDataGrid>

<CascadingValue Value="true" Name="IsNested">
    <ProductoEditDialog @bind-IsOpen="openEditing" Producto="currentProducto" CentrosCosto="centrosCosto" Franquicias="franquicias"
                        TiposProducto="tiposProducto" Familias="familias"
                        LoadCategorias="LoadCategoriasAsync" LoadCategoriasDespliegue="LoadCategoriasDespliegueAsync" LoadComplementos="LoadComplementosAsync"
                        CommitChanges="SaveProductoAsync" DialogOptions="DialogOptions" />

    <CajasDialog @bind-IsOpen="openCajas" Cajas="cajas" Producto="currentProducto" CommitChanges="SaveCajasAsync" 
                 LoadProductoDetalle="LoadProductoDetailAsync"  DialogOptions="DialogOptions" />

    <PartesDialog @bind-IsOpen="openPartes" Producto="currentProducto" LoadProductosParte="LoadProductosParteAsync" CommitChanges="SavePartesAsync" 
                  LoadProductoDetalle="LoadProductoDetailAsync" DialogOptions="DialogOptions" />
</CascadingValue>

@code {
    private ClaimsPrincipal? user;
    private MudDataGrid<ProductoViewModel> dataGrid = default!;
    private ObservableGridData<ProductoViewModel>? currentProductos;
    private string? searchText;

    private List<CentroCostoInfo> centrosCosto = [];
    private List<FranquiciaModel> franquicias = [];
    private List<CajaInfo> cajas = [];
    private List<TipoProducto> tiposProducto = [];
    private List<AgrupacionContable> familias = [];

    private bool openEditing;
    private bool openCajas;
    private bool openPartes;
    private ProductoViewModel? currentProducto;

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; } = default!;

    private Func<ProductoViewModel, object> GroupBy = x =>
    {
        return x.Categoria.Nombre;
    };

    protected override async Task OnInitializedAsync()
    {
        user = (await AuthenticationState).User;
        await LoadReferencesAsync();
    }

    private async Task LoadReferencesAsync()
    {
        Task[] loadingTasks =
        [
            LoadCentrosCostoAsync(), LoadFranquiciasAsync(), LoadCajasAsync(),
    LoadAgrupacionesContablesAsync(), LoadTiposProductoAsync(),
    ];

        await Task.WhenAll(loadingTasks);
    }

    private async Task LoadCentrosCostoAsync()
    {
        ResultListOf<CentroCostoInfo> result = await Mediator.SendRequest(new ListCentrosCosto(user!));
        centrosCosto = result.Items.ToList();
    }

    private async Task LoadFranquiciasAsync()
    {
        ResultListOf<Franquicia> result = await Mediator.SendRequest(new ListFranquicias(user!));
        franquicias = result.Items.ToModel();
    }

    private async Task LoadCajasAsync()
    {
        ResultListOf<CajaInfo> result = await Mediator.SendRequest(new ListCajas(user!));
        cajas = result.Items.ToList();
    }

    private async Task LoadAgrupacionesContablesAsync()
    {
        ResultListOf<AgrupacionContable> result = await Mediator.SendRequest(new ListAgrupacionesContables());
        familias = result.Items.ToList();
    }

    private async Task LoadTiposProductoAsync()
    {
        ResultListOf<TipoProducto> result = await Mediator.SendRequest(new ListTiposProducto());
        tiposProducto = result.Items.ToList();
    }

    private async Task<List<CategoriaProductoInfo>> LoadCategoriasAsync(int franquiciaId)
    {
        ResultListOf<CategoriaProductoInfo> result = await Mediator.SendRequest(new ListCategoriasProductoFinales(franquiciaId));
        return result.Items.ToList();
    }

    private async Task<List<CategoriaProductoInfo>> LoadCategoriasDespliegueAsync(int franquiciaId)
    {
        ResultListOf<CategoriaProductoInfo> result = await Mediator.SendRequest(new ListCategoriasProducto(franquiciaId));
        return result.Items.ToList();
    }

    private async Task<List<ProductoInfo>> LoadComplementosAsync(int categoriaId, int exceptoProductoId)
    {
        ResultListOf<ProductoInfo> result = await Mediator.SendRequest(new ListComplementos(categoriaId, exceptoProductoId));
        return result.Items.ToList();
    }

    private async Task<List<ProductoInfo>> LoadProductosParteAsync(int franquiciaId, int exceptoProductoId)
    {
        ResultListOf<ProductoInfo> result = await Mediator.SendRequest(new ListProductosParaPartes(franquiciaId, exceptoProductoId));
        return result.Items.ToList();
    }

    public async Task<GridData<ProductoViewModel>> LoadProductosAsync(GridState<ProductoViewModel> state)
    {
        SearchProductos searchProductos = state.ToSearch(user!, searchText);
        PagedList<ProductoFullInfo> productos = await Mediator.SendRequest(searchProductos);
        currentProductos = productos.ToGridData(dataGrid);
        return currentProductos;
    }

    private async Task AddProductoAsync()
    {
        currentProducto = new() { IsNew = true, };

        CellContext<ProductoViewModel> context = new CellContext<ProductoViewModel>(dataGrid, currentProducto);
        await ShowEditingAsync(context);
    }

    private async Task ShowEditingAsync(CellContext<ProductoViewModel> context)
    {
        currentProducto = dataGrid.CloneStrategy.CloneObject(context.Item);

        if (currentProducto is not null)
        {
            await LoadCategoriasAsync(currentProducto.FranquiciaId);
            openEditing = true;
        }
    }

    private Task ShowCajasAsync(CellContext<ProductoViewModel> context)
    {
        currentProducto = context.Item;
        openCajas = true;
        return Task.CompletedTask;
    }

    private Task ShowPartesAsync(CellContext<ProductoViewModel> context)
    {
        currentProducto = context.Item;
        openPartes = true;
        return Task.CompletedTask;
    }

    private async Task LoadProductoDetailAsync(ProductoViewModel producto)
    {
        ResultOf<ProductoFullInfo> result = await Mediator.SendRequest(new FindProducto(producto.Id));

        result.Switch(
                onSuccess: info => LoadProductoInfo(producto, info),
                onFailure: failure => AddFailure(failure, "cargar el detalle del producto"));
    }

    private void LoadProductoInfo(ProductoViewModel producto, ProductoFullInfo info)
    {
        producto.DetailLoaded = true;
        producto.Cajas = [.. info.Cajas];
        producto.Partes = info.Partes.ToModel();
    }

    private async Task<bool> SaveProductoAsync(ProductoViewModel producto)
    {
        IProductoStateChangeable changeStatus = producto.IsNew
            ? producto.ToCreate(user!)
            : producto.ToUpdate(user!);

        var result = await Mediator.SendRequest(changeStatus);
        return UpdateProducto(producto, result, producto.IsNew ? "crear producto" : "modificar producto");
    }

    private async Task SaveEsActivoAsync(ProductoViewModel producto, bool esActivo)
    {
        IProductoStateChangeable changeStatus = esActivo
            ? new ActivarProducto(producto.Id)
            : new DesactivarProducto(producto.Id);

        var result = await Mediator.SendRequest(changeStatus);
        UpdateProducto(producto, result, esActivo ? "activar producto" : "desactivar producto");
    }

    private async Task SaveEnInventarioAsync(ProductoViewModel producto, bool enInventario)
    {
        IProductoStateChangeable changeStatus = enInventario
            ? new LockProducto(producto.Id)
            : new UnlockProducto(producto.Id);

        var result = await Mediator.SendRequest(changeStatus);
        UpdateProducto(producto, result, enInventario ? "bloquear producto" : "desbloquear producto");
    }

    private async Task<bool> SaveCajasAsync(ProductoViewModel producto)
    {
        IProductoStateChangeable changeStatus = new AssignCajasToProducto(producto.Id, [.. producto.Cajas]);
        var result = await Mediator.SendRequest(changeStatus);
        return UpdateProducto(producto, result, "asignar cajas");
    }

    private async Task<bool> SavePartesAsync(ProductoViewModel producto)
    {
        IProductoStateChangeable changeStatus = new AssignPartesToProducto(producto.Id, [.. producto.Partes.ToInfo()]);
        var result = await Mediator.SendRequest(changeStatus);
        return UpdateProducto(producto, result, "asignar partes");
    }

    private bool UpdateProducto(ProductoViewModel producto, ResultOf<ProductoFullInfo> result, string action)
    {
        return result.Match(
            onSuccess: info => UpdateProducto(producto, info),
            onFailure: failure => AddFailure(failure, action));
    }

    private bool UpdateProducto(ProductoViewModel producto, ProductoFullInfo info)
    {
        bool isNew = producto.IsNew;
        producto.Save(info);

        if (isNew)
        {
            currentProductos?.Add(producto);
            return true;
        }

        ProductoViewModel? persistent = currentProductos?.Find(x => x.Id == producto.Id);

        if (persistent is not null)
        {
            persistent.Update(producto);
            return true;
        }

        return false;
    }

    private bool AddFailure(Failure failure, string action)
    {
        Snackbar.AddFailure(failure, action);
        return false;
    }
}
